WebContent/wsdl/EmployeeBUService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://srvs.bu.imcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://srvs.bu.imcs.com" xmlns:intf="http://srvs.bu.imcs.com" xmlns:tns1="http://dto.bu.imcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://srvs.bu.imcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.bu.imcs.com"/>
   <element name="getEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeInfoReturn" type="tns1:EmployeeDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="phoneNumber" type="xsd:string"/>
      <element name="jobId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="addEmployeeInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.bu.imcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EmployeeDTO">
    <sequence>
     <element name="emailId" nillable="true" type="xsd:string"/>
     <element name="empId" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmployeeInfoResponse">

      <wsdl:part element="impl:getEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeInfoRequest">

      <wsdl:part element="impl:addEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeInfoResponse">

      <wsdl:part element="impl:addEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeInfoRequest">

      <wsdl:part element="impl:getEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeBUService">

      <wsdl:operation name="getEmployeeInfo">

         <wsdl:input message="impl:getEmployeeInfoRequest" name="getEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeInfoResponse" name="getEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployeeInfo">

         <wsdl:input message="impl:addEmployeeInfoRequest" name="addEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmployeeInfoResponse" name="addEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeBUServiceSoapBinding" type="impl:EmployeeBUService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeBUServiceService">

      <wsdl:port binding="impl:EmployeeBUServiceSoapBinding" name="EmployeeBUService">

         <wsdlsoap:address location="http://localhost:8082/EmployeeSOABottomUp/services/EmployeeBUService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
